.user-status {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  height: 52px;
  width: 180px;
  max-width: 100%;

  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  color: #222;
  font-size: 10px;
}

.user-status__meta {
  position: relative;
}

.user-status__image {
  display: block;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.user-status__pin {
  box-sizing: content-box;
  position: absolute;
  top: 100%;
  left: 100%;
  width: 8px;
  height: 8px;

  background-color: #ccc;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: translate3d(-100%, -100%, 0);
  margin: 2px 0 0 2px;
}

.user-status__content {
  margin-left: 12px;
  overflow: hidden;
}

.user-status__primary {
  margin: 0;
  font-weight: bold;
}

.user-status__secondary {
  margin: 2px 0 0;
}

.text--overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

/* Variations */
.user-status--compact .user-status__image {
  display: none;
}

.user-status--compact .user-status__pin {
  margin: auto;
  border: 0;
  top: 0;
  bottom: 0;
  position: static;
  transform: none;
}
